@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.desktop-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 100%;


}

.container {
        max-width: max(95%, 1120px);
        margin-inline:auto;
    }
.content-header {
    display: flex;
    flex-direction: column;

}


.content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 30px;
    position: absolute;
    bottom: 50px;
    width: 100%;
}

header {
    height: 110px;
    background-color: transparent;
    box-shadow: 0 1px 50px black;
    position: absolute;
    width: 100%;
}

.logo {
    display: flex;
    gap: 10px;
    width: 100%;
}

.logo a {
    text-decoration: none;
}

.logo .Training {
    list-style: none;
    font-size: 32px;
    font-weight: 800;
    line-height: 80px;
}

.logo .Studio {
    list-style: none;
    font-size: 32px;
    font-weight: 800;
    line-height: 80px;
}

.logo .Studio a {
    color: #ed563b;
}

.logo .Studio {
    list-style: none;
}

.menu-links {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;

}

.menu-links a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    line-height: 40px;
    color: #fff;
    text-align: center;
}

.menu-links a:hover {
color: #ed563b;

}

.desktop-menu button {
    border: none;
    background-color: #ed563b;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
  
    
}

.desktop-menu .btn:hover {
    color: #ed563b;
}

.hero {
    background: linear-gradient(rgba(0, 0, 100, 0.2), rgba(255, 0, 0, 0.2));
    height: 100vh;
    width: 100%;
    display: flex;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 15%;
}

#text {
    font-size: 36px;
    font-weight: 800;
    line-height: 21.6px;
    color: white;
}

.easy,.tex {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 98px;
    font-weight: 800;
    padding: 40px;
    text-transform: uppercase;
    line-height: 100.8px;
    letter-spacing: 2px;
    color: white;

}

.back-vidio {
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}

.hero button {
    font-size: 1rem;
    font-weight: 500;
    line-height: 22px;
    padding: 20px;
    cursor: pointer;
    background-color: #ed563b;
    color: white;
    border: none;
}

.hero button:hover{
    color: #ed563b;
}

.program {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.program h3 {
    font-size: 48px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0.5px;

}

.program img {
    width: 65px;
    font-weight: 800;
    line-height: 24px;


}

.program p {
    font-size: 24px;
    font-weight: 500px;
    line-height: 25px;
    text-size-adjust: 100%;
}

.paralal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.best {
    margin-top: 50px;

}

.sub-grid {
    display: flex;
    gap: 30px;
    align-items: center;
}

img {
    width: 30%;
    height: 100%;
    font-size: 100px;
    font-weight: 500;
}

.hero-two {
    margin-block: 150px;
    background: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/cta-bg.jpg");
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-two .dont-think {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 120px 120px;
    gap: 20px;
}

.hero-two .dont-think h1 {
    font-size: 56px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.hero-two .dont-think p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
    /* text-transform: uppercase; */

}

.hero-two .dont-think button {
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 400;
    background-color: #ed563b;
    cursor: pointer;
}
.hero-two .dont-think button:{
    color: #ed563b;
}


span {
    color: #ed563b;
    padding: 10px;
    
}
span:hover {
    color: blue;
}

.second {
    margin-block: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.shaddow-part {
    grid-column: 1/span 0.1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 0 15px;
    /* height: 568px; */
}

.blog {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    box-shadow: 1px 4px 8px;
    text-transform: capitalize;
    padding-inline: 30px;
    padding-block: 30px;
    height: 95px;
    width: 100%;
    border-radius: 10px;

}

.blog h4 {
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    letter-spacing: 0.5px;
    line-height: 29px;
    padding-block: 20px;
    padding-inline: 13px;

}

.blog img {
    width: 35px;
    height: 35px;
    max-width: 100%;

}

.picture-part {
    grid-column: 2/span 3;



}

.picture {
    background: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/training-image-01.jpg")center /cover no-repeat;
    vertical-align: middle;
    height: 50vh;
    width: 90%;
    border-radius: 10px;

}

.writing h4 {
    font-size: 1.5rem;
    margin: 20px 20px;
    text-transform: capitalize;
}

.writing p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 28px;
    line-height: 33px;
}

.writing button {
    padding: 25px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    background-color: #ed563b;
    border: none;
    color: #fff;
}
.writing button:hover{
    color: #ed563b;
}

.view {
    background-color: #ed563b;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    padding-block: 20px;
    padding-inline: 13px;
}
.view:hover {
    color: #ed563b;
}


.table-part {
    background: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/schedule-bg.jpg");
    height: 1700px;

}

.table-part .general {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.table-part .general .program {
    margin-top: 10%;
    display: flex;
    color: #fff;
    font-size: 25px;
    padding: 20px;

}

.table-part .general .days {
    text-transform: capitalize;
    color: #fff;
    font-size: 25px;
    padding: 20px;
    border: 1px solid red;
}


.Trainers {
    margin-top: 10%;
    display: flex;
    gap: 50px;


}

.table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;
}

.table span {
    padding: 50px 50px;
    font-size: 1rem;
    font-weight: 500;
    margin-block: 30px;
    border-bottom: 1px solid red;
    width: 100%;
    color: #fff;

}

.table .table-1 {
    display: flex;
    flex-direction: column;
    border-left: 1px solid red;
    border-right: 1px solid red;
    border-top: 1px solid red;

}

.table .table-2 {
    display: flex;
    flex-direction: column;
    border-left: 1px solid red;
    border-right: 1px solid red;
    border-top: 1px solid red;
}

.table .table-3 {
   display: flex;
    flex-direction: column;
    border-left: 1px solid red;
    border-right: 1px solid red;
    border-top: 1px solid red;

}

.table .table-4 {
    display: flex;
    flex-direction: column;
    border-left: 1px solid red;
    border-right: 1px solid red;
    border-top: 1px solid red;
}

.trainer-1 img {
    width: 100%;

}

.Trainers .trainer-1 {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 50px;

}

.font-awsome I {
    margin-top: 20px;
    padding: 20px;
    gap: 50PX;
}
.font-awsome I:hover{
    color: #ed563b;
}

.formap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
}



.form {
    background: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/contact-bg.jpg")center /cover no-repeat;
    width: 50%;
    height: 553px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 20px;

}

.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 49px;
    width: 100%;
}

.form-content button {
    padding: 20px;
    background-color: #ed563b;
    color: #fff;
    border: none;
}

.footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
}

.mobile-menu {
    display: none;
}

.humburger {
    display: none;
}



    
  

